.user-list {
  width: 80%;
  margin: 20px 10%;
  padding: 0 0;
}

.user-list-section {
  color: #fffeff;
  box-shadow: 0 5px 20px rgba(0,0,0, .8); 
  width: 90%;
  margin: 20px 5%;
  border-radius: 20px;
  background-color:rgba(255,255,255);
  padding: 10px;
  
}