.row {
  width: 96%;
  margin-left: 2%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.team-player {
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 5px 5px;
}
.team-list {
  list-style: none;
  padding: 0 0;
}

.teams {
  width: 45%;
  font-size: 16px;
}

.red {
  color: #E63946
}

.emerald {
  /* color: #BCE784; */
  color: #E6AF2E;
}

.team-name{
  font-size: 25px;
}
